/* .loading-screen{
    z-index: 1000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
.logo_opaque{
    width: 100px;
    height: 100px;
}

.loading-bar{
    width: 130px;
    height: 2px;
    background: #cfcfcf;
    margin-top: 22px;
    position: relative;
    overflow: hidden;
}

.loading-bar::before{
    content: "";
    width: 68px;
    height: 2px;
    background: #0073b1;
    position: absolute;
    left: -34px;
    animation: bluebar 1.5s infinite ease;
}

@keyframes bluebar {
    50%{
        left: 96px;
    }
}   */


.loading-screen{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #fff; 
    z-index: 999999;
    text-align: center;
}

.loading-screen .loading-animation img{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50% ;
}